/* Header section */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fef2e9;
    height: 9.6rem;
    padding: 0 4.8rem;
    position: relative;
}

.logo {
    height: 6.2rem;
}

/* Navbar */

.main-nav-list {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 4.8rem;
}

.main-nav-link:link, 
.main-nav-link:visited {
    display: inline-block;
    text-decoration: none;
    color: #333;
    font-weight: 500;
    font-size: 2rem;
    transition: all 0.3s;
}

.main-nav-link:hover, 
.main-nav-link:active {
    color: #dc6c22
}

.main-nav-link.nav-cta:link , 
.main-nav-link.nav-cta:visited {
    padding: 1.2rem 2.4rem;
    border-radius: 0.9rem;
    color: #fff;
    background-color: #f47826;
}

.main-nav-link.nav-cta:hover , 
.main-nav-link.nav-cta:active {
    background-color: #dc6c22;
}

.btn-mobile-nav {
    display: none;
}